## Module 3

## Data Type
After two introductive chapters, now it is the moment to be serious, exploring one of the most peculiar aspects of Pyhton: its spectacular types of data. We start introducing the functions help, dir and type, very useful when someone starts programming, but also afterward. At the end of this chapter, you will be familiar with: lists, strings, tuples, sets, dictionary, and numeric data.

### Help Function
Help function does not need presentation, the same word is sufficient to explain the role. In few words: it displays the information about a function, data or module. Let's try to use it on module ```math``` or on data type, ```list```, for example.

In [ ]:
import math
#help(math)
help(list)

### Dir function
```dir``` function is used mostly in interactive mode. It allows us to visualize a list of attributes of the object bypassed as a parameter, whatever it is. Let's see it at work:

In [ ]:
dir(math)

All list elements are functions or constants of the math module, a very important library if we need to work in a mathematical environment. Let's try to use it with a string:

In [ ]:
string = 'hello'
dir(string)

Don't be afraid of the length of the list, Python is a language very very powerful as well as its data types.

### Type function

```type``` function displays the typology of the object that is bypassed as a parameter. Let's see some fast example:

In [4]:
n=1
type(n)

int

In [5]:
s='hello'
type(s)

str

In [6]:
type(math)

module

Every time that we doubt some element returned by ```dir``` (constant? function? class?), ```type``` will come to our rescue. Let's see how it can help us with some elements returned by ```dir```.

In [7]:
type(math.acos)

builtin_function_or_method

### Lists

What do you think reading ```list ```? Exactly, shopping list! What are the main features? In a very synthetic way, we say: it's an ordered list that contains different elements. Well, in Python it is the same and to tell it we need to use square brackets. Let's try to create a generic list:

In [8]:
numbers = [1,5,7,2]
numbers

[1, 5, 7, 2]

In [9]:
l = [1,5,7,2,'pippo']
ll = [0,numbers]
print l
print ll

[1, 5, 7, 2, 'pippo']
[0, [1, 5, 7, 2]]

If we want add other value to 'number' list we can use ```append```

In [10]:
other = [6,9,17]
numbers.append(other)
numbers

[1, 5, 7, 2, [6, 9, 17]]

With the previous example, we saw the append functioning which adds an element at the bottom of the list. In Python 'dot' separates an object from its attribute or method. Taking into account that the enumeration in Python starts from 0 (in a list containing n elements the numbering goes from 0 to n-1) if we want to extract an element from the list:

In [11]:
numbers[2]

7

What happens if we specifie a non-existent index?

In [12]:
numbers[6]

IndexError: list index out of range

If we know the length of a list we can indicate directly the last index, furthermore there is another way to extract the last element:

In [13]:
print numbers[-1]

[6, 9, 17]

So, the element of a list can be identified in reverse order, from -1 to -n. About the length of a list we could know it using ```len``` function:

In [14]:
len(ll)

2

If we are interested in two elements:

In [15]:
numbers[1:3]

[5, 7]

again

In [16]:
numbers[1:-1]

[5, 7, 2]

finally, from an index to the end:

In [17]:
numbers[1:]

[5, 7, 2, [6, 9, 17]]

The last example is very important because allow us to duplicate a list very quickly

In [18]:
numbers2 = numbers[:]
numbers2

[1, 5, 7, 2, [6, 9, 17]]

This particular method to have access to one or more elements of a list is named: ```slicing```. It is available for each type of sequential data. For example, it is usable also with strings that, as we will see better later, can be considered an ordered sequence of characters. Other programming languages have different access modes to list elements and sometimes slicing is hard to grab. Slicing can be used also to assign in one fell swoop more elements of a list:

In [19]:
num = [1,2,3,4,5]
num[0:2] = [6,7]
num

[6, 7, 3, 4, 5]

or to add new elements:

In [20]:
num[1:1] = [0,0,0]
num

[6, 0, 0, 0, 7, 3, 4, 5]

or to delete elements:

In [21]:
num[1:4] = []
num

[6, 7, 3, 4, 5]

In [22]:
num[-2:] = []
num

[6, 7, 3]

We saw how ```append``` works, now we want to be familar with ```count```, ```extend```, ```index```, ```insert```, ```pop```, ```remove```, ```reverse``` and ```sort```.

In [23]:
name = ['pippo', 'pluto']
name.insert(0,'paperino')
name

['paperino', 'pippo', 'pluto']

or

In [24]:
name = ['pippo', 'pluto']
name.insert(2,'paperino')
name

['pippo', 'pluto', 'paperino']

```extend``` accepts as parameter a second list that is hanging at the bottom of the main list:

In [25]:
name2 = ['minnie', 'paperina']
name.extend(name2)
name

['pippo', 'pluto', 'paperino', 'minnie', 'paperina']

The difference between ```append``` and ```extend``` is very simple: the first adds at the bottom of the list a simple element, while the second adds a whole list; it's like using append for each element of the list. If you have interest to remove some elements from a list you can use the methods ```remove``` and ```pop```. Remove is specular to insert:

In [26]:
List = ['a','b',1,'c']
List.remove(1)
List

['a', 'b', 'c']

```pop``` is very particular because combine two functions: extraction and removal. It can be used with or without index; in the last case extracts the last element of the list:

In [27]:
List.pop()
List

['a', 'b']

In [28]:
List.pop(0)
List

['b']

```count``` counts the equal elements of the list:

In [29]:
a = [1,2,3,4,1]
print a.count(1)
print a.count(5)

2
0

Attention: ```count``` does not explore recursively any lists present into the main list

In [30]:
aa = [1, 'pippo', [1,2,3]]
aa.count(1)

1

Element ```1``` is present two times, but the second time in a sub-list, so ```count``` counts it just one time.

```index``` returns the position inside a list:

In [31]:
aa.index('pippo')

1

```reverse``` simply inverts the order in a list

In [32]:
aa.reverse()
aa

[[1, 2, 3], 'pippo', 1]

```sort``` arranges in alphabetical/numerical order the elements of a list:

In [33]:
a.sort()
a

[1, 1, 2, 3, 4]

If the list is composed by heterogeneous elements, we obtain:

In [34]:
c = ['a', 1 , 'pippo', 2]
c.sort()
c

[1, 2, 'a', 'pippo']

```list comprehension``` is a syntactic construct that allows us to create a list starting from other lists. This method allows to a programmer to create a list applying a function to the elements of another list. At example:

In [35]:
numbers = [1,2,3,4,5,6,7,8,9]
double = [n*2 for n in numbers]
double

[2, 4, 6, 8, 10, 12, 14, 16, 18]

or

In [36]:
double = [n for n in numbers if n % 2 == 0]
double

[2, 4, 6, 8]

```list comprehension``` can be also nested. At example if we would create an identity matrix we can do it using two list comprehension, one inside the other:

In [37]:
n = 5
matrix = [[(1 if x == y else 0)
for x in range(n)] for y in range(n)]
for riga in matrix:
    print(riga)

[1, 0, 0, 0, 0]
[0, 1, 0, 0, 0]
[0, 0, 1, 0, 0]
[0, 0, 0, 1, 0]
[0, 0, 0, 0, 1]

The construct (1 if x == y else 0) is the boolean operator that allow us to use if as operator.

### Strings 
Usually, a string is a sequence of characters, but in Python, every sequence is bound to slicing concept. let's see some examples immediately:

In [38]:
s = '0123456789'
print s[:5]    # print first five characters 
print s[-5:]   # print last five characters 
print s[1:-1]  # print all characters except first and last
print s[::2]   # print a character every two
print s[1::2]  # print a character every two starting from second

01234
56789
12345678
02468
13579

An important difference concerning lists consists of the fact that strings are immutable. We can't assign a new value to one slice of string. If we want to do this we have to reassign the whole string:

In [39]:
s='ab-de'
s = s[:2] + 'c' + s[3:]
print s

abcde

If we delimit a string using double apexes, inside we can use single apex:

In [1]:
s = "I like cheesecake"
s_ = 'I saw last "How I met your mother" episode'
print s
print s_

I like cheesecake
I saw last "How I met your mother" episode

If we need to wrap up we have to use ```back slash``` and ```n```

In [41]:
s = '1\n2\n3\n Go!'
print s

1
2
3
 Go!

```\n``` it is not the only one, there are also ```\r``` (Carriage Return), ```b``` (Backspace), ```t```(Tabulation Character) e ```xHH```(Insert the symbol whose ASCII code is the hexadecimal value HH). Sometime it will happen to you that you need to write some strings on more lines, like strings in documentation code. We can do it using triple apexes:

In [3]:
s = """ 
Do you like write strings on more lines?
And you can use apex: 'spam'
or double apexes: "eggs"
and stop
"""
print s

Do you like write strings on more lines?
And you can use apex: 'spam'
or double apexes: "eggs"
and stop

To concatenate more strings we can use ```+```

In [43]:
n = 'Roberto'
s = 'Caione'
print n+s
print s+n
print n*3

RobertoCaione
CaioneRoberto
RobertoRobertoRoberto

There are a lot of methods that allow us to manipulate string easily. We examine just the most important, for the rest, Python documentation, help function and fantasy are sufficient.

In [4]:
s = "Find the x in this string"
s.find("x")

9

In [5]:
s = "Remove the empty space at the beginning and at the end"
s.strip()

'Remove the empty space at the beginning and at the end'

In [6]:
s = "replace a word"
s.replace("word", "WORD")

'replace a WORD'

In [8]:
s = "one two three"  # split a string in a list of elements
s.split(" ")

['one', 'two', 'three']

In [9]:
"/".join(["8","9","1993"])  # join three strings in one string

'8/9/1993'

### Tuples 
Tuples are sequences of heterogeneous objects (similar to lists in this sense) but are immutable. Here our first tuple:

In [49]:
t = ('stop','with','lists')
print t

('stop', 'with', 'lists')

```Round brackets``` indicate to Python that we want to define a tuple. Technically we could use just virgule, but without brackets, we can't create an empty tuple. Also for tuples is valid the slicing concept.

In [50]:
t = (1,2,3,'galaxy')
t[:3]

(1, 2, 3)

In [51]:
t[-1]

'galaxy'

but we cannot change any part of it. Tuples do not have any method beyond ```count``` and ```index```. To know if an element is present or not in a tuple we can also use ```in``` operator that, differently from ```index```, no exceptions:

In [10]:
fibonacci = (1,1,2,3,5,8,13,21)
8 in fibonacci

True

In [11]:
9 in fibonacci

False

We can use ```in``` also with strings or lists. ```True``` (or ```False```) is a boolean operator in Python. To define a tuple with a single element:

In [54]:
one = (1,)
print one

(1,)

If you are wondering: what is a tuple for ? you are right! But tuples are fundamental for their immutability, which allows it to be used as an index in dictionaries.

### Sets 
Sets are one of the main powerful data types that we can use when we have to handle a group of not order elements (and without duplicates). To create a set we can use special characters as "braces":

In [55]:
set_ = {'pippo','pluto','pluto','paperino'}
set_

{'paperino', 'pippo', 'pluto'}

If we use the keyword ```set``` to create a set, passing a string we get the set of characters that make it up:

In [12]:
spelling = set('Roberto')
spelling

{'R', 'b', 'e', 'o', 'r', 't'}

As we can see the string "Roberto" contains 7 characters but the set is long just 5 character because double elements are removed.

With sets we are authorized to do every typical set of operations:

In [57]:
small = {'mouse','cat'}
big = {'bear','shark'}
print small | big    # UNION
print small - big    # DIFFERENCE
print small & big    # INTERSECTION
print small ^ big    # SYMMETRIC DIFFERENCE

set(['shark', 'mouse', 'bear', 'cat'])
set(['mouse', 'cat'])
set([])
set(['shark', 'mouse', 'bear', 'cat'])

As for the lists, also sets have their 'comprehension'. Set  comprehension is very similar to the list comprehension, with the difference that the final result is a set without duplicate elements:

In [58]:
numbers = [1,2,3,11,12,13]
rest = {n % 4 for n in numbers}
rest

{0, 1, 2, 3}

The possible rests of division by 4 are 0, 1, 2 and 3. Rest set does not contain any 2, because the list of numbers contains no number that divided by 4 get 2 for rest.

### Dictionaries
The official definition of a dictionary is an associative array. To better understand:

In [59]:
phonebook = dict()
phonebook['roberto'] = '333-1212122'
phonebook['giovanni'] = '333-2323233'
phonebook

{'giovanni': '333-2323233', 'roberto': '333-1212122'}

In [60]:
phonebook['roberto']

'333-1212122'

A dictionary is a set of objects that we can extract using a key. The key is the same used assigning. To list all keys of a dictionary we can use the "keys method":

In [61]:
phonebook.keys()

['giovanni', 'roberto']

In [62]:
'silvio' in phonebook

False

Obviously, if we want delete a contact:

In [63]:
del phonebook['giovanni']
phonebook

{'roberto': '333-1212122'}

What can we assign to an element of a dictionary? Every Python object, even a function or a class. And, what we can use as the key of an element? Every immutable object: a string, a tuple, etc. A tuple can be used as a key in a dictionary only if it does not contain, directly or indirectly, other editable objects. It exists, however, an immutable version that is called ```frozenset```, whose function is the same as tuples for lists. It is immutable so it can be used as a key for a dictionary. Dictionaries also have various methods: ```clear```, ```copy```, ```fromkeys```, ```get```, ```items```, ```pop```, ```popitem```, ```setdefault```, ```update``` and ```values```. We have briefly introduced keys some examples ago. Now we show some other examples, the most useful:

In [64]:
biblio = {'bible':0,'physics':42}
biblio

{'bible': 0, 'physics': 42}

In [65]:
biblio.clear()  # clear a dictionary
biblio

{}

In [66]:
sport = {'tennis':10, 'basket':13}
sport.get('tennis', 0)

10

In [67]:
sport.get('running',0)

0

In [68]:
recipe = {'eggs':2, 'floor':100, 'butter':30}
recipe.setdefault('sugar',200)
recipe

{'butter': 30, 'eggs': 2, 'floor': 100, 'sugar': 200}

In [69]:
actions = {'FIAT':2, 'Link':99, 'Oracle':3}
actions.values()

[2, 3, 99]

In [70]:
fruits = {'apple':123, 'banana':5}
fruits.items()

[('apple', 123), ('banana', 5)]

Finally, also dictionaries have a comprehension construct. Set and Dictionaries share the braces. There is no risk to go into confusion because dictionary comprehension is different from set comprehension. We can better understand with an example:

In [13]:
name = {'roberto':26, 'camilla':18, 'filippo':14}
numbers = {age: i for i, age in name.items()}
print numbers

{18: 'camilla', 26: 'roberto', 14: 'filippo'}

In this example, we used the dictionaries comprehension to invert the keys and the values in a dictionary. If there are two equal keys, in the final dictionary we have just one without establishing which one.