## Module 5

After talking about data and instructions, we can start to put all together and learn to define new functions. Functions are the building blocks of classes (discussed in the next module), so we are going to speak about something very important in Python. Let's start!

### Definition of a function

The instruction that allows us to define a function is ```def```. Let's take an example right away:

In [2]:
def fact(n):
    '''
    This function returns the factorial value of a number.
    '''
    if n < 2:
        return 1
    return n*fact(n-1)

```fact``` function accepts only one parameters: "n". The instrction "return" is used to finish the function returning the desired value. Ok, we have implemented a function that returns the factorial value of a natural number bypassed as parameter. Let us now see the function at work :

In [3]:
print(fact(15))

1307674368000

The string in triple apexes is the "documentation string"! This string is saved into the __doc__ variable that we can display using the ```help``` function.

In [7]:
help(fact)

Help on function fact in module __main__:

fact(n)
    This function returns the factorial value of a number.

Unlike other programming languages, in Python, there isn't the concept of "procedure" understood as a piece of code that is called and does not return any values. When the function ends without the instruction ```return```, None is the output. The same thing happens if the return is not followed by a value. Often you will need to define a function that returns some value. In this case, the procedure is very simple respect to other programming languages, it's enough this:

In [9]:
def spam_egg():
    return "Spam", "Egg"

a,b = spam_egg()

a
#b

'Spam'

### Parameters as INPUT

In the ```fact``` example we saw the passage of just one parameter, but for a generic function we can pass how much parmeters we want:

In [10]:
def min(n1,n2,n3):
    '''
    This function find the minimum among 3 parameters
    '''
    if n1 < n2 < n3 :
        return n1
    if n2 < n3:
        return n2
    return n3

In [11]:
min(25,12,10)

10

### Optional parameters

For each parameters we can define an optional default value. In absence of the rispective parameter, the function will use the default value. At example, the ```int``` function accepts two parameters: x and the basis. In absence of basis value:

In [18]:
int('13')

13

Now let's try to specify a base:

In [19]:
int('13',8)

11

So, the default value is 10, indeed

In [20]:
int('13',10)

13

In some particular situations, we are in the conditions of having to define a function with a list of unknown parameters. Python allows us to do this in two different way those can live in the same function

*parameters transforms a list of parameters in a tuple

**keyword transforms a list of parameters in a dictionary

At example:

In [22]:
def shop(*thing):
    print(type(thing))
    for x in thing:
        print x

In [23]:
shop('egg','bread','milk','sugar')

<type 'tuple'>
egg
bread
milk
sugar

As we can see the list of parameters is transformed in a tuple, that we can easily scroll, but, if with the same function we use a nominal parameter an exception raises:

In [24]:
shop(x='egg')

TypeError: shop() got an unexpected keyword argument 'x'

So, if we want a tuple of nominal parameter:

In [25]:
def shop(**thing):
    print(type(thing))
    for x, y in thing.items():
        print(x,y)
shop(first='pasta',second='fish',third='fruit')

<type 'dict'>
('second', 'fish')
('third', 'fruit')
('first', 'pasta')

Obviously, we can use all these options in one function:

In [31]:
def shop(where, *days, **things):
    print('I have to go to', where)
    print('-' * 20)
    print('In the following days:')
    for day in days:
        print(day)
    print('-' * 20)
    print('to buy these things:')
    for thing, how_many in things.items():
        print (thing, how_many)

In [32]:
shop('supermarket', 'monday', 'friday', milk=1, bread=3)

('I have to go to', 'supermarket')
--------------------
In the following days:
monday
friday
--------------------
to buy these things:
('milk', 1)
('bread', 3)

When we use both functions we must specify first the parameters and second the keywords or we will incur in a syntax error.

### The functions as objects

As we saw it's very simple to define a function in Python. The most important thing is that in Python a function is an object. We can assign it to a variable or bypass it as a parameter to another function. If we try to assign a function to a variable, we can use the variable instead of a function:

In [33]:
def stamp(thing):
    print(thing)
f = stamp
f('hello guy !')

hello guy !

In [34]:
def stamp(thing):
    print(thing)
def run(funct, arg):
    funct(arg)
run(stamp,'Hello guy !')

Hello guy !

Now, let's try to create a dictionary of functions:

In [38]:
def throw(thing):
    print('We have to throw', thing)

def hold(thing):
    print('We have to hold', thing)
    
functions = dict()
functions['ugly'] = throw
functions['beautiful'] = hold

In [39]:
functions['ugly']('egg')

('We have to throw', 'egg')

In [40]:
functions['beautiful']('egg')

('We have to hold', 'egg')

### The default functions

We saw some default functions as dir, help, type, and print. There are other functions in the module __builtins__. This module is preloaded by Python, so we can use it without import. An example of this function is the ```min``` (and ```max```) function that returns respectively the maximum or the minimum of some values:

In [41]:
max(1,5,3)

5

In [42]:
min([12,1,15,26,84,64])

1

```pow``` allow us to calculate the power of a base:

In [1]:
pow(2,5)

32

```pow``` also has a third optional parameter that is used to calculate the power output module, but much more efficiently than with an explicit calculation.

In [5]:
import timeit
timeit.timeit('pow(2,10000)',number=100000)

2.036911964416504

In [6]:
import timeit
timeit.timeit('pow(2,10000,2)',number=100000)

0.04844498634338379

```timeit``` is a comfortable library that allows us to measure the execution time of a little piece of code. From the latter two examples, we can appreciate the difference between the first and second ways.

```abs``` calculates the absolute value of a number:

In [8]:
abs(-5)

5

In the case of a complex number ```abs``` calculates the ```norma```:

In [9]:
abs(3+4j)

5.0

Finally, ```round``` rounds up a number to the decimal indicated as the second parameter:

In [10]:
round(4.516,0)

5.0

In [11]:
round(4.516,1)

4.5

In [12]:
round(4.516,2)

4.52

In [13]:
round(4.156,3)

4.156

```all``` returns ```True``` if all the values of the only iterable parameter are True:

In [14]:
all([n>10 for n in (5,15,25,35,45)])

False

In [15]:
all([n>10 for n in (15,25,35,45)])

True

```any``` returns ```True``` if at least one of the only iterable parameter is ```True```:

In [16]:
any([n>10 for n in (5,15,25,35,45)])

True

In [17]:
any([n>10 for n in (5,4,3,2,1)])

False

```chr``` returns the character corresponding to ASCII code bypassed as a parameter, while ```ord``` carries out the opposite operation:

In [23]:
chr(67)

'C'

In [24]:
ord('R')

82

```map``` performs the function bypassed as the first parameter, using as a parameter the values taken from following iterable parameters and returns an iterable:

In [26]:
def sum_(a,b,c):
    return a+b+c

In [27]:
for n in map(sum_,[1,2],[5,6],[10,20]):
    print n

16
28

```zip``` receives a list of lists and picks from each of them a value to insert in a tuple:

In [28]:
for x in zip([1,2,3,4,5],'Hello !'):
    print x

(1, 'H')
(2, 'e')
(3, 'l')
(4, 'l')
(5, 'o')

```filter``` applies the function to elements of iterable, giving back just those the function assumes the True value:

In [29]:
def maj(n):
    return n > 23
for n in filter (maj,[10,30,50]):
    print n

30
50

```sorted``` returns a sorted copy of iterable:

In [30]:
sorted([22,4,2,67,10,124,0])

[0, 2, 4, 10, 22, 67, 124]

In [35]:
sorted([22,4,2,67,10,124,0], reverse=True)

[124, 67, 22, 10, 4, 2, 0]

In [36]:
sorted('Python roks !')  # sorted following the ASCII numeration

[' ', ' ', '!', 'P', 'h', 'k', 'n', 'o', 'o', 'r', 's', 't', 'y']

```reversed``` returns an iterable flowing back the sequence bypassed as the only parameter

In [37]:
for n in reversed([21,5,1,67,9,0,123]):
    print n

123
0
9
67
1
5
21